* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #000 url('images/podcast-hero.jpg') no-repeat center center/cover;
  height: 100vh;
  color: rgb(58, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
  
}

h1 {
  font-size: 40px;
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  
}

a {
  text-decoration: none;
  color: #ec5656;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #fff;
  transform: scale(1.1);
  text-shadow: 1px 1px black;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 250px;
  perspective: 1000px;
}

.card h2 {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 250px;
  /* object-fit: cover; */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 250px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  text-align: center;
  
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.audio {
  width: 220px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
